body{
    /* Fondo */


position: absolute;
width: 1440px;
height: 1000px;
left: 0px;
top: 0px;

background: url(Images/tamanna-rumee-tYnnY7gKyZs-unsplash.jpg);
background-size: cover;
background-repeat: no-repeat;}

header{

/* Encabezado */


position: absolute;
width: 1348px;
height: 300px;
left: 51px;
top: 0px;



}
.FondoTexto{
/* FondoTexto */

position: absolute;
width: 1000px;
height: 200px;
left: 51px;
top: 33px;

background: #C4C4C4;
border-radius: 25px;

}
.Fotografia{

    position: absolute;
width: 300px;
height: 300px;
left: 1099px;
top: 0px;

background: url(Images/image\ 1.png);
}

.Contenido{
    /* Contenido */


position: absolute;
width: 1279px;
height: 500px;
left: 81px;
top: 0px;

}

.TarjetaTalleres{
    /* Rectangle 1 */


position: absolute;
width: 400px;
height: 500px;
left: 81px;
top: 329px;

background: rgba(54, 176, 118, 0.5);
border-radius: 25px;
}

.TarjetaConsulta{
/* TarjetaConsulta */


position: absolute;
width: 400px;
height: 500px;
left: 528px;
top: 329px;


background: rgba(238, 27, 128, 0.58);
border-radius: 25px;
}

.TarjetaRetos{

    /* TarjetaRetos */


position: absolute;
width: 400px;
height: 500px;
left: 960px;
top: 329px;

background: rgba(210, 183, 39, 0.5);
border-radius: 25px;
}

.Copyright{
  


position: absolute;
width: 1320px;
height: 100px;
left: 100px;
top: 885px;

    

background: rgba(238, 27, 128, 0.58);
border-radius: 25px;
}
.iconGif{
    /* logos:git-icon */


position: absolute;
width: 80px;
height: 80px;
left:1200px;
top: 10px;

box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.iconNeo{
    /* openmoji:cat-face */


position: absolute;
width: 80px;
height: 80px;
left: 1100px;
top: 10px;

box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Ref{
    
position: absolute;
width: 482px;
height: 29px;
left: 61.5px;
top: 10px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
text-align: center;

}
